* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 30px;
}

h6 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 26px;
  font-weight: bold;
}

h4 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 38px;
  font-weight: bold;
}

h2 {
  font-size: 44px;
  font-weight: bold;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.container {
  margin: 0px auto;
  max-width: 1200px;
}

.section1, .section2 {
  background: #2fff949e;
}

header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  margin: 20px 0px 4px 30px;
}
header .logo img {
  width: 100%;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
header nav ul li {
  padding: 10px 20px;
}
header nav ul li a {
  color: #9900ffe8;
  text-decoration: none;
}
header nav ul li a:hover, header nav ul li a:active {
  color: #000;
  border-bottom: 2px solid;
}
header nav .signup {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}
header nav .signup a {
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
}
header nav .signup a:nth-child(2) {
  background: #fff;
  font-weight: bold;
  border-radius: 10px;
}
header button {
  display: none;
  cursor: pointer;
}
header button i {
  font-size: 25px;
  padding: 5px 15px;
  background: #fff;
  border-radius: 3px;
  color: #9900ffe8;
}
header button i:hover {
  color: #2fff949e;
}

.section2 .items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.section2 .items .item {
  width: 47%;
}
.section2 .items .item:nth-child(1) {
  padding: 0px 30px;
}
.section2 .items .item:nth-child(1) h1 {
  text-shadow: 0px 2px white;
  font-size: 50px;
}
.section2 .items .item:nth-child(1) h1 span {
  color: #9900ffe8;
}
.section2 .items .item:nth-child(1) p {
  margin: 20px 0 45px;
}
.section2 .items .item:nth-child(1) .btn {
  text-decoration: none;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  background: #9900ffe8;
  color: #fff;
}
.section2 .items .item:nth-child(1) .btn i {
  color: #2fff949e;
}
.section2 .items .item:nth-child(1) .btn:hover {
  color: #2fff949e;
}
.section2 .items .item:nth-child(2) img {
  width: 100%;
}
.section2 .top-wave {
  width: 100%;
  height: 80px;
  background: #fff;
  margin-top: -100px;
  clip-path: polygon(-8% 25%, 1% 43%, 4% 56%, 5% 58%, 8% 56%, 10% 53%, 13% 45%, 15% 39%, 16% 37%, 19% 34%, 21% 34%, 24% 38%, 26% 44%, 28% 53%, 30% 64%, 32% 73%, 34% 78%, 37% 77%, 39% 74%, 41% 69%, 43% 61%, 45% 53%, 47% 44%, 49% 37%, 51% 34%, 54% 33%, 56% 35%, 58% 39%, 60% 45%, 62% 52%, 64% 60%, 66% 68%, 68% 74%, 71% 80%, 72% 80%, 74% 78%, 76% 74%, 78% 69%, 81% 58%, 83% 49%, 85% 42%, 88% 33%, 89% 32%, 91% 34%, 94% 42%, 96% 47%, 96% 47%, 98% 49%, 99% 47%, 100% 38%, 100% 100%, 0 100%);
}

.section3 {
  margin: 70px 0;
}
.section3 .content {
  width: 70%;
}
.section3 .content h2, .section3 .content p {
  padding: 10px 0px;
}
.section3 .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section3 .items .item {
  width: 23%;
  padding: 10px 10px;
  line-height: 26px;
}
.section3 .items .item i {
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  color: #9900ffe8;
  background: #2fff949e;
  margin: 15px 0;
}
.section3 .items .item p {
  margin: 20px 0;
}
.section3 .items .item .btn {
  text-decoration: none;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid gray;
}
.section3 .items .item .btn i {
  color: #2fff949e;
}
.section3 .items .item .btn:hover {
  color: #ca31d8;
}

.section4 .content, .section5 .content, .section6 .content {
  width: 85%;
}
.section4 .content h2, .section4 .content p, .section5 .content h2, .section5 .content p, .section6 .content h2, .section6 .content p {
  padding: 10px 0px;
}
.section4 .content-rapper, .section5 .content-rapper, .section6 .content-rapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.section4 .left, .section4 .right, .section5 .left, .section5 .right, .section6 .left, .section6 .right {
  width: 45%;
}
.section4 .left, .section5 .left, .section6 .left {
  position: relative;
}
.section4 .left .download, .section5 .left .download, .section6 .left .download {
  position: absolute;
}
.section4 .left .download h1, .section5 .left .download h1, .section6 .left .download h1 {
  color: #9900ffe8;
  font-size: 70px;
}
.section4 .right .items .item .heading, .section5 .right .items .item .heading, .section6 .right .items .item .heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section4 .right .items .item .heading .fa-solid, .section5 .right .items .item .heading .fa-solid, .section6 .right .items .item .heading .fa-solid {
  color: #9900ffe8;
}
.section4 .right .items .item p, .section5 .right .items .item p, .section6 .right .items .item p {
  margin: 20px 0;
}

.section5 .content-rapper {
  flex-direction: row-reverse;
}
.section5 .content-rapper .left .download {
  right: 0;
  text-align: end;
}
.section5 .content-rapper .left .download h1 {
  color: #2fff949e;
}
.section5 .content-rapper .right .item .buttons {
  margin: 40px 0;
}
.section5 .content-rapper .right .item .buttons .btn {
  text-decoration: none;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  color: #ca31d8;
  border: 1px solid gray;
  margin: 0 5px;
}
.section5 .content-rapper .right .item .buttons .btn i {
  color: #2fff949e;
}
.section5 .content-rapper .right .item .buttons .btn:hover {
  color: white;
  background: #ca31d8;
  border: none;
}

.section6 .left .download {
  position: relative;
}
.section6 .left .download h1 {
  color: #3a3838;
  margin: 15px 0;
}
.section6 .left .item .paragraphs {
  display: flex;
  flex-wrap: wrap;
}
.section6 .left .item .paragraphs p {
  width: 50%;
}

.section7 {
  padding: 50px 0;
}
.section7 .items {
  background: #dbdb26;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.section7 .items .item {
  line-height: 30px;
}
.section7 .items .item h4 {
  text-shadow: 0 2px #fff;
}
.section7 .items .item h6 {
  color: #9900ffe8;
}
.section7 .items .item ul {
  display: flex;
  list-style-type: none;
}
.section7 .items .item ul li a {
  padding: 10px;
  border-radius: 10px;
  margin: 3px;
  background: #000;
  color: #fff;
  text-decoration: none;
}
.section7 .items .item ul li a i {
  padding: 0 10px;
}

.bottom-wave {
  width: 100%;
  height: 50px;
  background: #3a3838;
  clip-path: polygon(-8% 25%, 1% 43%, 4% 56%, 5% 58%, 8% 56%, 10% 53%, 13% 45%, 15% 39%, 16% 37%, 19% 34%, 21% 34%, 24% 38%, 26% 44%, 28% 53%, 30% 64%, 32% 73%, 34% 78%, 37% 77%, 39% 74%, 41% 69%, 43% 61%, 45% 53%, 47% 44%, 49% 37%, 51% 34%, 54% 33%, 56% 35%, 58% 39%, 60% 45%, 62% 52%, 64% 60%, 66% 68%, 68% 74%, 71% 80%, 72% 80%, 74% 78%, 76% 74%, 78% 69%, 81% 58%, 83% 49%, 85% 42%, 88% 33%, 89% 32%, 91% 34%, 94% 42%, 96% 47%, 96% 47%, 98% 49%, 99% 47%, 100% 38%, 100% 100%, 0 100%);
}

footer {
  background: #3a3838;
  padding: 50px 0;
}
footer .logo-with-sos-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
footer .logo-with-sos-icons .sos-icons ul {
  display: flex;
  list-style: none;
}
footer .logo-with-sos-icons .sos-icons ul li a {
  font-size: xx-large;
  color: #dbdb26;
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
}
footer .logo-with-sos-icons .sos-icons ul li a:hover {
  color: #9900ffe8;
}
footer .links {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
}
footer .links ul {
  list-style: none;
  line-height: 30px;
  width: 20%;
}
footer .links ul li h6 {
  color: #2fff949e;
}
footer .links ul li a {
  color: #fff;
  text-decoration: none;
}
footer .links ul li a:hover {
  color: #9900ffe8;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media screen and (max-width: 999px) {
  .container {
    max-width: 792px;
  }

  header nav {
    flex-direction: column;
    background: aliceblue;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 999;
    width: 280px;
    text-align: center;
    height: 100%;
    padding: 30px 0 0;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav .signup {
    flex-direction: column;
  }
  header .nav {
    display: none;
  }
  header button {
    display: block;
  }

  .section2 .items {
    padding-top: 36px;
  }
  .section2 .items .item {
    width: 100%;
  }
  .section2 .top-wave {
    margin-top: -125px;
  }

  .section3 .content {
    width: 100%;
  }
  .section3 .items .item {
    width: 30%;
  }

  .section6 .left .item .paragraphs p {
    width: 100%;
  }

  .section7 .items {
    justify-content: center;
    text-align: center;
  }
  .section7 .items .item {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 568px;
  }

  .section3 .items .item {
    width: 45%;
  }

  .section4 .content-rapper, .section5 .content-rapper, .section6 .content-rapper {
    flex-direction: column;
  }
  .section4 .left, .section4 .right, .section5 .left, .section5 .right, .section6 .left, .section6 .right {
    width: 100%;
    margin: 0px 0px 50px;
  }

  footer .links ul {
    width: 32%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 376px;
  }

  header nav ul {
    justify-content: center;
  }

  .section3 .items .item {
    width: 100%;
  }

  .section7 .items .item ul {
    flex-direction: column;
  }
  .section7 .items .item ul li {
    margin: 10px 0px;
  }

  footer .links ul {
    width: 50%;
  }
}