@media screen and (max-width: $lg) {
    .container{
        max-width: 95%;
    }
    header {
        .wrapper{
            nav {
                flex-direction: column;
                background: aliceblue;
                position: absolute;
                left: 0;
                top: 0px;
                z-index: 999;
                overflow-x: hidden;
                width: 0px;
                text-align: center;
                height: 100%;
                padding: 40px 0 0;
                transition: width 1s;
                margin-left: -60px;
                ul {
                    flex-direction: column;
                }
                .signup {
                    flex-direction: column;
                }
                #close {
                    position: absolute;
                    right: 20px;
                    top: 40px;
                    cursor: pointer;
                    padding: 8px 11px;
                    border-radius: 50%;
                    background: $primary;
                    color: $white;
                    &:hover{
                        background: $white;
                        color: $primary;
                        border: 1px solid $primary;
                    }
                }
            }
            button {
                display: block;
            }
        }
    }
    .section2{
        .items{
            padding-top: 36px;
            .item {
                width: 100%;
              }
        }
        .top-wave{
            margin-top: -125px;
        }
    } 
    .section3{
        .content {
            width: 100%;
        }
        .items .item {
            width: 30%;
          }
    }
    .section6 .left .item .paragraphs p {
        width: 100%;
    }
    .section7 .items {
        justify-content: center;
        text-align: center;
        .item {
            padding: 10px 0px;
        }
    }
}