@media screen and (max-width: $md) {
    .container{
        max-width: 568px;
    }
    .section3 .items .item {
        width: 45%;
    }
    .section4,.section5,.section6 {
        .content-rapper {
            flex-direction: column;
        }
        .left, .right {
            width: 100%;
            margin: 0px 0px 50px;
        }
    }
    footer .links ul {
        width: 32%;
    }
}